*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.ipl-container{
    width:100%;
    height: auto;
    background-image: url("./Assets/cricket\ stadium.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logos-container{
    padding: 100px;
}

.card-style{
    width: 100%;
    height: 320px;

}
.card-style:hover{
 border-radius: 10px;
}

#image1{
    border-radius: 10px;
    background-color: red;
    width: 100%;
    height: 250px;
}

#image2{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image3{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image4{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image5{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image6{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image7{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

#image8{
    border-radius: 10px;
    background-image: linear-gradient(to top, orangered,blue,rgb(122, 8, 27));
    width: 100%;
    height: 250px;
}

#image9{
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    height: 250px;
}

